@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&family=Elsie&family=Fira+Sans:wght@600&family=Gloock&family=Labrada&family=Lato:wght@400;700&family=Playfair+Display:wght@500;700&family=Raleway:wght@300;600&family=Roboto:wght@300&display=swap');


*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   display: flex;
   justify-content: center;
   align-items: center;
}

body{
   background: url(Minimal%20Landscape%20wallpaper%208k%20%5B7680x4320%5D.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   min-height: 100vh;
}

.main{
   width: 400px;
   height: 500px;
   position: relative;
}

.glass{
   width: 400px;
   height: 500px;
   border: 2px solid #274e13;
   border-radius: 5px;
   background: white;
   filter: opacity(60%) blur(5px);
}

h1{
   position: absolute;
   top: 30px;
   font-size: 29px;
   color: #0066c1;
   text-shadow: 0 2px 3px black;
   letter-spacing: 3px;
   font-family: 'Raleway', serif;
   text-transform: uppercase;
}

span{
   margin-left: 7px;
   color: #0b5394; 
}

.input-container {
   position: absolute;
   display: flex;
   flex-direction: column;
   margin-top: 50px;
}

.name,
.email{
   position: relative;
   margin: 1px;
   height: 60px;
}

.name-label,
.email-label{
   position: absolute;
   left: 0;
   top: 20px;
   color: #231547;
   font-weight: 600;
   font-size: 16px;
   transition: .4s;
   z-index: 1;
   padding: 0 10px;
   border: 2px solid transparent;
}

input{
   width: 320px;
   height: 30px;
   background: transparent;
   outline: none;
   border-color: #3d85c6;
   border-top: none;
   border-left: none;
   border-right: none;
   font-size: 14px;
   font-weight: 700;
   color: #29213f; 
}

input:focus ~ .name-label{
   transform: scale(85%);
   top: -3px;
   background: #3d85c6;
}

input:focus ~ .email-label{
   transform: scale(85%);
   top: -3px;
   background: #3d85c6;
}

.email::before {
   content:'';
   width: 100%;
   height: 2px;
   background: #3d85c6;;
   position: absolute;
   top: 7px;
   transform: scale(0, 1);
   transition: .7s;
}

.email:focus-within::before {
   transform: scale(1, 1);
}

.name::before {
   content:'';
   width: 100%;
   height: 2px;
   background: #3d85c6;;
   position: absolute;
   top: 7px;
   transform: scale(0, 1);
   transition: .7s;
}

.name:focus-within::before {
   transform: scale(1, 1);
}

.btn{
   width: 120px;
   height: 40px;
   margin-top: 10px;
}

input[type=button]{
   border: 2px solid #2a6090;
   cursor: pointer;
   width: 100%;
   height: 100%;
   border-radius: 50px;
   background: #2a6090;
   color: #29213f;
   font-weight: 700;
   font-size: 15px;
   text-transform: capitalize;
   transition: .4s linear;
}

input[type=button]:hover{
   background: transparent;
   color: #1b4265;
   border-radius: 5px;
}

.check-box{
   display: flex;
   justify-content: flex-start;
   flex-direction: row;
   width: 100%;
   margin-left: 10px;
}

input[type=checkbox]{
   width: 13px;
}

.check-box label{
   margin-left: 5px;
   font-size: 14px;
   color: #29213f;
}
